rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /environments/{environment} {
      function isValidEnvironment() {
        return environment == 'DevT03' || environment == 'LiveT03';
      }

      match /{document=**} {
        allow read, write: if isValidEnvironment() && request.auth != null;
      }
    }
  }
}
